#Middle
{
   background-color:rgb(27,37,49);
    
        width: 100%;
       margin-left: 250px;
       position: fixed;
       z-index: -1;
       margin-top: 100px;
       height: 100%;
       
}
#t2
{
    font-family: comic sans ms;
    font-size: 20px;
    color: whitesmoke;
   margin-left: 20px;
}
#feild
{
    width: 400px;
    
}
#s1{
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  border: 1px solid grey;
  font-size: 22px;
   margin-top: 20px;
}